<h1>Showing selected article</h1>
<p>
    Title: <%= @article.title%>
</p>

<p>
    Description: <%= @article.description%>
</p>

<tr>
   <td> <%= link_to 'back to the articles listing',articles_path %></td>
   <td> <%= link_to 'edit',edit_article_path(@article) %></td>
</tr>
